:root {
  --bg: #ffffff; 
  --text: #333; 
  --primary: #0055ff;
  --card-bg: #fff; 
  --header-bg: #111; 
  --footer-bg: #222;
  --hover: #000;
  --hover-text: #fff;
  --btn-hover: #f3f3f3a9;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --box-shadow-hover: rgba(0, 0, 0, 0.15);
}

html.dark { 
  --bg: #121212; 
  --text: #f0f0f0; 
  --primary: #3399ff;
  --card-bg: #1c1c1c; 
  --header-bg: #1e1e1e; 
  --footer-bg: #111; 
  --hover: #fff;
  --hover-text: #000;
  --btn-hover: #333;
  --box-shadow: rgba(146, 137, 137, 0.566);
  --box-shadow-hover: rgba(234, 225, 225, 0.382);
}

*, *::before, *::after { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
body { 
  background: var(--bg); 
  color: var(--text);
  font-family: 'Segoe UI', sans-serif; 
  line-height: 1.6;
  scroll-behavior: smooth; 
  height: 100vh;
  overflow: hidden;
}

.page-transition { 
  position: fixed; 
  top:0; 
  left:0;
  width:100%; 
  height:100%; 
  background:var(--bg); 
  z-index:9999;
  transition: opacity .6s ease; 
  opacity:1; 
  pointer-events:none; 
}

body.loaded{
  overflow-y: scroll;
}

body.loaded .page-transition { 
  opacity:0; 
}

header { 
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000;
  background: var(--header-bg); 
  color: #fff; 
  padding:1rem 0; 
}

.container { 
  width:90%; 
  max-width:1200px; 
  margin:auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo { 
  font-size:1.5rem; 
}

/* .logo img{
  width: 60px;
} */

#hamburger { 
  display: none; 
  font-size:1.5rem; 
  background:none; 
  border:none; 
}

nav ul { 
  display: flex; 
  align-items:center; 
  gap: 0 25px;
}

nav a, nav button { 
  color: white; 
  text-decoration:none;
  background:none; 
  border:none; 
  font-size:1rem; 
  cursor:pointer; 
}

header::after { 
  content:''; 
  display:table; 
  clear:both; 
}

.hero { 
  background-size:cover; 
  background-position:center;
  text-align:center; 
  padding:120px 0; 
  color: #fff; 
  position:relative; 
}

.hero h2 { 
  font-size:2.8rem; 
  margin-bottom:0.5rem; 
}
.hero p { 
  font-size:1.25rem; 
  margin-bottom:1rem; 
}
.btn { 
  display:inline-block; 
  padding:12px 30px;
  background:var(--primary);
  color:#fff; 
  text-decoration:none; 
  border-radius:4px; 
  transition:transform .2s; 
  width: 140px;
}

.btn:hover { 
  transform:scale(1.05); 
}

section { 
  padding:60px 0; 
}
.about, .contact { 
  background:#f4f4f4; 
}
html.dark .about, html.dark .contact { 
  background: #1a1a1a; 
}

h2 { 
  text-align:center; 
  margin-bottom:40px; 
  font-weight:500; 
}

.service-cards { 
  display:flex; 
  flex-wrap:wrap; 
  gap:20px; 
  justify-content:center; 
}
.card { 
  background:var(--card-bg); 
  flex:1; 
  min-width:260px;
  padding:30px; 
  border-radius:8px; 
  box-shadow:0 2px 8px rgba(0,0,0,0.1);
  transition: .5s;
}
.card:hover { 
  transform:translateY(-5px); 
  background-color: var(--hover);
  color: var(--hover-text);
}


/*PORTFOLIO SLIDER STYLE*/
.slider {
  position: relative;
  overflow: hidden;
  max-width: 900px;
  margin: 2rem auto;
  padding-top: 20px;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 33.333%;
  text-align: center;
  opacity: 0.6;
  transform: scale(0.9);
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: relative;
  cursor: pointer;
}

.slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.slide .videos{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide.active {
  transform: scale(1.1);
  opacity: 1;
  margin: 0 5px;
}

.slide .videos:not(:hover)::-webkit-media-controls {
  display: none !important;
}


.caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.writeups{
  color: var(--text);
  opacity: 0;
  width: 90%;
  margin: auto;
  transition: 1s;
}

.visit-btn{
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: var(--primary);
  border-radius: 12px;
  color: white;
  cursor: pointer;
  margin-top: 4px;
  transition: .5s;
}

.visit-btn:hover{
  background-color: orange;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.slide.active .caption {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.slide.active .writeups{
  opacity: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  margin: 20px 5px 0;
  cursor: pointer;
}

.dot.active {
  background: #333;
}

/* Responsive breakpoints */
@media (max-width: 1024px) {
  .slider{
    padding: 20px 0 0 25px;
  }
  .slide {
    flex: 0 0 50%;
  }
  .slide img {
    height: 320px;
  }
  .slide .videos{
  height: 300px;
}
}

@media (max-width: 768px) {
  .slider{
    padding: 40px 20px 0 10px;
  }
  .slide {
    flex: 0 0 100%;
  }
  .slide img {
    height: 450px;
    width: 85%;
  }
  .slide.active {
  margin: 0;
}
}

@media (max-width: 480px) {
  .slide img {
    height: 330px;
  }

  .slide.active{
    transform: scale(1.02);
  }
}


/* PRICING SECTION. */
.pricing-section {
  padding: 2rem;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}
.toggle-label {
  font-weight: 500;
}
.toggle-button {
  width: 50px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggle-button.active {
  background-color: #3b82f6;
}
.toggle-thumb {
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}
.toggle-button.active .toggle-thumb {
  left: 26px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.plan-container {
  display: flex;
  /* flex-direction: column; */
  padding: 10px 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .plan-container {
    flex-direction: row;
    justify-content: center;
  }
}

.plan-card {
  flex: 1;
  background:var(--card-bg); 
  border-radius: 1rem;
  box-shadow: 0 4px 6px var(--box-shadow);
  padding: 1.5rem;
  transition: 0.5s;
  min-width: 350px;
  max-width: 450px;
}
.plan-card:hover {
  box-shadow: 0 8px 12px var(--box-shadow-hover);
}

.plan-card h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.price span {
  font-size: 0.875rem;
  font-weight: normal;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.plan-card ul li {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.plan-card button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 600;
  background-color: #3b82f6;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}
.plan-card button:hover {
  background-color: #2563eb;
}

.plan-title {
  font-size: 1.2rem;
  font-weight: bold;
}


/* Fade-in Animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
}
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Carousel Container & Track */
.testimonials {
  background: var(--card-bg);
  padding: 60px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
  text-align: center;
}

.testimonials .container, .hero .container, .about .container, .services .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h2 {
  margin-bottom: 40px;
  font-weight: 600;
}

.carousel {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.carousel-track-container {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-slide {
  min-width: 33.3333%; /* 3 slides visible */
  box-sizing: border-box;
  padding: 0 15px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.carousel-slide p {
  font-style: italic;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--text);
}

.carousel-slide h4 {
  font-weight: 700;
  color: var(--primary);
}

.carousel-slide:hover {
  opacity: 1;
}

/* Navigation arrows */
.prev, .next {
  background: var(--primary);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 6px 18px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.prev:hover, .next:hover {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Responsive */
@media(max-width: 900px) {
  .carousel-slide {
    min-width: 50%; /* 2 slides visible */
  }
}

@media(max-width: 600px) {
  .carousel-slide {
    min-width: 100%; /* 1 slide visible */
  }
  .prev, .next {
    font-size: 1.5rem;
    padding: 6px 10px;
  }
}


.contact .container{
  display: flex;
  flex-direction: column;
}

form { 
  width: 80%;
  max-width:600px; 
  margin:auto; 
  display:flex; 
  flex-direction:column; 
  gap:20px; 
}
input, textarea { 
  padding:12px; 
  border:1px solid #ccc; 
  border-radius:4px; 
  font-size:1rem; 
  color:inherit; 
  background: #fff; 
  /* width: 150%; */
  width: 100%;
}

html.dark input, html.dark textarea { 
  background:#222; 
  border-color:#444; 
}
button[type=submit] { 
  background: var(--primary); 
  color: #fff; 
  padding:12px;  
  border:none; 
  border-radius:4px; 
  cursor:pointer; 
  font-size:1rem; 
}
button[type=submit]:hover { 
  opacity:0.9; 
}

footer { 
  background: var(--footer-bg); 
  color: #fff; 
  text-align:center; 
  padding:20px 0; 
}

footer p{ 
  width: 100%;
}





/* MOBILE MENU */
@media(max-width:768px){
  header{
    background-color: var(--bg);
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    color: var(--text);
  }

  #hamburger { 
    display: block; 
    color: var(--text); 
    cursor: pointer;
  }
  nav { 
    position: fixed; 
    top: 70px; 
    right: -100%; 
    width: 50%; 
    height: 100dvh;
    background: var(--bg); 
    transition: right .8s; 
  }
  nav.open { 
    right: 0; 
  }
  nav ul { 
    flex-direction: column; 
    gap: 0 20px; 
    align-items: center;
    width: 100%;
  }

  nav a{
    color: var(--text);
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    transition: .5s;
    border-bottom: 2px solid #333;
  }

  nav a:hover{
    background-color: var(--hover);
    color: var(--hover-text);
  }

  nav button{
    width: 100%;
    padding: 10px 0;
    transition: .5s;
  }

  nav button:hover{
    background-color: var(--btn-hover);
  }

  .contact .container{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  nav{
    width: 100%;
    height: auto;
  }
}

/* SCROLL & TRANSITION */
body { 
  scroll-behavior: smooth; 
}
.page-transition { 
  position:fixed; 
  width:100%; 
  height:100%; 
  background:var(--bg); 
  opacity:1; 
  transition:opacity .6s ease; 
  pointer-events:none; 
}
body.loaded .page-transition { 
  opacity:0; 
}

/* AOS overrides */
[data-aos] { opacity: 0; transition-property: opacity, transform; }
[data-aos].aos-animate { opacity:1; }




